<div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            ลงทะเบียนเจ้าหน้าที่จิตอาสา
                        </h1>                        
                    </div>

                </div>
                <!-- /.row -->

                <!-- Image -->
                <div class="row">
                    <div class="col-lg-12">
                        <img class="img-responsive img-rounded" src="img/sirinthorn_words4.jpg" alt="ได้ทำงานช่วยเหลือคนอื่นถือว่าเป็นเกียรติทำให้เรามีความสุข สิรินธร ๒๙ พฤษภาคม ๒๕๕๖">
                    </div>
                </div>
                <!-- /.row -->

                <hr>
                <!-- Register Yalannanbaru -->
                <div class="row">
                    <h3 style="margin-left: 50px">ลงทะเบียนเจ้าหน้าที่จิตอาสา</h3>
                    <br>
                    
                    <!-- Register Volunteer Yalannanbaru Form -->
                    
                    <div class="row well text">
                        <div class="col-lg-6">
                            <form role="form" ng-submit="addVolun(vol)">
                                
                                <!-- TextField Name -->
                                <div class="form-group form-inline" style="margin-left: 50px">
                                
                                    <label>ชื่อ: </label>
                                    <input class="form-control" style="margin-left: 100px" ng-model="vol.volunName">                                
                                </div>

                                <!-- TextField LastName -->
                                <div class="form-group form-inline" style="margin-left: 50px">
                                    
                                    <label>นามสกุล: </label>
                                    <input class="form-control" style="margin-left: 65px" ng-model="vol.volunLastname">
                                
                                </div>

                                <!-- Dropdown Gender -->
                                <div class="form-group form-inline" style="margin-left: 50px">
                                    <label>เพศ: </label>
                                    <select class="form-control" style="margin-left: 95px" ng-model="vol.volunGender">
                                    <option selected>-- เลือกเพศ --</option>
                                        <option value="ชาย">ชาย</option>
                                        <option value="หญิง">หญิง</option>
                                        
                                    </select>
                                </div>

                                <!-- TextField Age -->
                                <div class="form-group form-inline" style="margin-left: 50px">
                                    
                                    <label>อายุ: </label>
                                    <input class="form-control" style="margin-left: 90px" ng-model="vol.volunAge">
                                
                                </div>

                                <!-- TextArea Adress -->
                                <div class="form-group form-inline" style="margin-left: 50px">
                                
                                <label>ที่อยู่: </label>
                                <textarea class="form-control" rows="3" style="margin-left: 90px" ng-model="vol.volunAddress"></textarea>
                                </div>

                                <!-- TextField Job -->
                                <div class="form-group form-inline" style="margin-left: 50px">
                                    <label>อาชีพ: </label>
                                    <input class="form-control" style="margin-left: 75px" ng-model="vol.volunJob">
                                </div>

                                

                                <!-- TextField E-mail -->
                                <div class="form-group form-inline" style="margin-left: 50px">
                                    <label>อีเมลล์: </label>
                                    <input class="form-control" style="margin-left: 75px" ng-model="vol.volunEmail">
                                </div>

                                <!-- TextField Tel No. -->
                                <div class="form-group form-inline" style="margin-left: 50px" ng-model="volunTel">
                                    <label>เบอร์โทรศัพท์: </label>
                                    <input class="form-control" style="margin-left: 30px" ng-model="vol.volunTel">
                                </div>

                                <!-- TextField Username -->
                                <div class="form-group form-inline" style="margin-left: 50px">
                                    <label>ชื่อผู้ใช้: </label>
                                    <input class="form-control" style="margin-left: 70px" ng-model="vol.volunUser">
                                </div>

                                <!-- TextField Password -->
                                <div class="form-group form-inline" style="margin-left: 50px">
                                    <label>รหัสผ่าน: </label>
                                    <input class="form-control" style="margin-left: 65px" ng-model="vol.volunPswd">
                                </div>

                                

                                <!-- Submit Buttion -->
                                 <div class="form-group"><!-- Form-group 6 -->
                    <button class="btn btn-info" type="submit" style="margin-left: 45%;font-size: 20px">เสร็จสิ้น</button>
                </div>

                <div class="col-sm-6"><br>
    <button class="btn btn-defaul" style="font-size: 19px"> <a href="#/volunteer"  > <i class="glyphicon glyphicon-backward"></i>&nbsp;ย้อนกลับ </a></button>
</div>

                            </form>
                        </div>
                    </div>

                </div>
                
                <!-- Footer -->
                <hr>
                <footer>
                    <div class="row">
                        <div class="col-lg-12"><br>
                            <p style="color: #844BB8 ;font-size: 17px" >© Yalannanbaru Anti-Drug Volunteer  2017</p>
                        </div>
                    </div>
                </footer>

                 </div>
                <!-- /.container-fluid -->    
                </div>
                <!-- /#page-wrapper -->
        