  <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                           ค่ายญาลันนันบารู
                        </h1>
                        
                    </div>
                </div>
        <div class="row">
        	<div class="col-lg-12">
        		<img class="img-responsive img-rounded" src="img/sirinthorn_words5.jpg" alt="ได้ทำงานช่วยเหลือคนอื่นถือว่าเป็นเกียรติทำให้เรามีความสุข สิรินธร ๒๙ พฤษภาคม ๒๕๕๖">
        	</div>
        </div><!-- /.row -->

		 <!-- Page Heading -->
         <div class="row">
         	<div class="col-lg-12">
         		<h1 style="color:#0174DF"> แก้ไข <span style="color:#000">กิจกรรมค่าย</span>
                </h1>
         	</div>
         </div>

         <div class="row" >
         <fieldset>
         	<div class="col-lg-12" ng-init="showActiv()">

         		 <form role="form" class="form-horizontal" style="font-size:14px;" ng-submit="editActiv(atv)">

         		    <div class="form-group"><!-- Form-group 1 -->

                    <label for="activTitle" class="col-sm-2">หัวข้อ</label>
                      <div class="col-sm-6">
                      <input type="text" class="form-control" placeholder="พิมพ์หัวข้อข่าว" ng-model="atv.activTitle">
                      </div>
                </div><!-- Form-group 1 -->

                <div class="form-group"><!-- Form-group 2 -->

                    <label for="activDetail" class="col-sm-2">รายละเอียด</label>
                      <div class="col-sm-6">
                      <textarea class="form-control" rows="8" placeholder="พิมพ์รายละเอียด" ng-model="atv.activDetail"></textarea> 
                      </div>
                </div><!-- Form-group 2 -->

                <div class="form-group"><!-- Form-group 3 -->

                    <label for="activDate" class="col-sm-2">วันที่ประกาศ</label>
                      <div class="col-sm-4">
                      <input type="date" class="form-control" placeholder="พิมพ์วันที่" ng-model="atv.activDate"> 
                      </div>
                </div><!-- Form-group 3-->

                <div class="form-group" method="post" action="" enctype="multipart/form-data"><!-- Form-group 4-->

                    <label for="activImg" class="col-sm-2">รูปภาพ</label>
                    <div class="col-sm-4">
                    <input type="file" name="filUpload">
                    <p class="help-block">อัพโหลดรูปภาพ&nbsp;ไฟล์.png/.jpg</p>
                    <file>{{ atv.activImg }}</file>
                    </div>
                    <div class="col-sm-3">
                    <input name="btnSubmit" type="submit" value="อัพโหลด">
                    </div>

                </div><!-- Form-group 4-->

                <div class="form-group"><!-- Form-group 5 -->

                    <label for="activSubmit" class="col-sm-2">โดย</label>
                      <div class="col-sm-4">
                      <input type="text" class="form-control" placeholder="ลงชื่อผู้ประกาศ" ng-model="atv.activSubmit">
                      </div>
                </div><!-- Form-group 5-->

                
         <div class="col-sm-6"><br>
    <button class="btn btn-defaul" style="font-size: 19px"> <a href="#/newsMenu/activ"  > <i class="glyphicon glyphicon-backward"></i>&nbsp;ย้อนกลับ </a></button>
     <button class="btn btn-info" type="submit">Update</button>
</div>

                 </form>
         	</div>
         	</fieldset>
         </div>

        
