<h2>Manage page</h2>

<h3>Welcome to manage...</h3>
<form class="navbar-form navbar-left">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search.." ng-model="search">
				</div>
			</form>
<table class="table table-striped" ng-init="getEmployees()">
	<thead>
		<tr>
			<th>Name</th>
			<th>Department</th>
			<th>LOcation</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="employee in employees | filter:search" >
			<td>{{ employee.name }}</td>
			<td>{{ employee.dept }}</td>
			<td>{{ employee.area }}</td>
			<td>
				<a ui-sref="show({id: employee.id})" class="btn btn-info">Show</a>
				<a ui-sref="edit({id: employee.id})" class="btn btn-success">Edit</a>
				<a ng-click="deleteEmployees(employee.id)" class="btn btn-danger">Delete</a>
			</td>
		</tr>
	</tbody>
</table>