    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Page Content -->
    <div class="container" >
        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-xs-12">
                <img class="img-responsive img-rounded" src="img/sirinthorn_words5.jpg" alt="ได้ทำงานช่วยเหลือคนอื่นถือว่าเป็นเกียรติทำให้เรามีความสุข สิรินธร ๒๙ พฤษภาคม ๒๕๕๖">
            </div> <!-- /.col-lg-12 -->
            </div><!-- /.row -->

        <!-- Content Row -->
        <div class="col-lg-12">
            <div class="col-xs-5 col-sm-6 col-lg-4"> <hr>
                <img class="img-responsive"  src="./img/mitchell_icon.jpg" /></div> <hr>
            <div class="col-xs-7 col-sm-6 col-lg-8"> <h3>ค้นหาข่าว..</h3></div> 
            <div class="col-xs-7 col-sm-6 col-lg-8"> <input type="text" class="form-control " ng-model="search" placeholder="Search">
            <br></div>
        </div> <br>

            <div class="col-lg-12">
            <table class="table table-striped" ng-init="getNews()">
                <thead>
                    <tr class="active">
                        <th>ลำดับ
                        </th>
                        
                        <th>หัวข้อ
                        </th>
                        
                        <th>วันที่
                            </th>
                       <th>ตัวเลือก
                            </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="news in news | filter:search" >
                        <td>{{ news.id }}</td>
                        <td>{{ news.newsTitle }}</td>
                        <td>{{ news.newsDate}}</td>
                        <td>
                            <button><a href="#/news/{{news.id}}/show">Show</a></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> 


</div> <!--Item 0-->

</div><!--div class="col-lg-12"-->
    </div><!-- /.container -->


</body>
