<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Kwangnoii System</title>

	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	  	<div class="navbar-header">
	  		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	  			<span class="icon-bar"></span>
	  			<span class="icon-bar"></span>
	  			<span class="icon-bar"></span>
	  		</button>
	  		<a class="navbar-brand">Kwangnoii System</a>
	  	</div>
	  	<div class="collapse navbar-collapse" id="myNavbar">
	  		<ul class="nav navbar-nav">
	  			<li><a ui-sref="home">Home</a></li>
	  			<li><a ui-sref="manage" ng-if="authService.isLogin()">Manage</a>></li>
	  			<li><a ui-sref="create" ng-if="authService.isLogin()">L</a>></li>
	  		</ul>
	  		<ul class="nav navbar-nav navbar-right">
	  			<li><a ui-sref="login" ng-if="!authService.isLogin()">Login</a></li>
	  			<li><a ng-click="authService.logout()" ng-if="authService.isLogin()">Logout</a></li>
	  		</ul>
	  	</div>
	  </div>
	</nav>

	<div class="container">
		<div ui-view></div>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.min.js"></script>
	<script src="js/router.min.js"></script>
	<script src="js/myapp.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/services.js"></script>
</body>
</html>